body{
  padding: 0;
  margin: 0;
  background-color: rgb(247, 247, 247);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 50px;
  justify-items: center;
  padding: 2rem;
}
.main-title {
  display: flex;
  justify-content: center;
 
}